body {
  background-color: #e6e6e6;
}

.window {
  background-color: #fff;
  margin: 25px;
}

p {
  font-size: 18px;
  margin-left: 10px;
}

.boxHeader{
  border: 2px solid black;
  height: 50px;
  width: 200px;
  text-align: left;
}

.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  text-align: left;
  margin-top: -2px;
}

.boxBody {
  height: 150px;
  border: 2px solid black;
  margin-top: -2px;
}

img {
  margin-top: 10px;
}
