/* Adjust background color when screen width is more than 500px */
@media only screen and (min-width: 500px) {
  body {background: #ccc;}
}

header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#FFF;
	background:#E84340;
  z-index: 3;
}

/* Replace with logo when complete */
h1 {font-size: 72px; padding: .2em;}

.progressBar {
  position: relative;
  margin: 1%;
  border: 3px solid black;
  background: #fff;
  height: 20px;
}

.progressBarFill {
  margin: 0px;
  width: 42%;
  height: 100%;
  background: #66FF6D;
}

.progress {
  position: absolute;
  top: 0;
  padding: 0px;
  margin: 0px 1em;
  text-align: left;
  color: black;
  z-index: 5;
}

.unselectable{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.line-center{
    margin:0;padding:0 10px;
    background:#f3f5f6; //jsfiddle bg color, use #ffffff for plain white
    display:inline-block;
}

h2{
    text-align:center;
    position:relative;
    z-index:2;
}
h2:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    //border-top:solid 1px red;
    border-top: 8px double black;
    z-index:-1;
}

.pokemonCell
{
    display:inline-block;
    margin-left: -4px;
    width: 16.66%;
    //min-width: 90px;
    text-align: center;
    padding: 5px 0;
    background-color: #aabbcc;
}

.pokemonCellNumber
{
    font-family:"Menlo", "Lucida Console", Monaco, monospace;
    font-size:24pt;
}

.pokemonCellName
{
    font-family:"Helvetica", sans-serif;
    font-weight:lighter;
    font-size:10pt;
    line-height:20px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.cell{
    display: inline-block;
    height: 150px;
    width: 150px;
    text-align: center;
    padding: 0px;
    margin: 4px ;
    background-color: #fff000;
    color: #000000;
}

footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
  z-index: 3;
}

//test of menu sprites
.menu-sprite{
    display:inline-block;
    background-color:transparent;
    background-repeat:no-repeat;
    background-origin:content-box;
    vertical-align:middle;
    text-indent:-999em
}

.menu-sprite{
    background-image:url(https://raw.githubusercontent.com/legacy-icons/vendor-icons/master/dist/sprite-32x32/vendor-icons.png);
    width:32px;
    height:32px;
    margin:0 0
    //width: 1.875em
}

.menu-sprite.zero{background-position:0 0}
.menu-sprite.one{background-position:-32px 0}
.menu-sprite.two{background-position:-64px 0}
.menu-sprite.three{background-position:-96px 0}
.menu-sprite.four{background-position:0 -32px}
.menu-sprite.five{background-position:-32px -32px}
.menu-sprite.six{background-position:-64px -32px}
.menu-sprite.seven{background-position:-96px -32px}
.menu-sprite.eight{background-position:0 -64px}
.menu-sprite.nine{background-position:-32px -64px}
