@media only screen and (min-width: 500px) {
  body {
    background: #ccc;
  }
}

header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
  border: 3px solid black;
	color:#FFF;
	background:#E84340;
  z-index: 3;
}

h1 {
  font-size: 72px;
  padding: .2em;
}

.progressBar {
  border-top: 3px solid black;
  background: #fff;
  height: 20px;
}

.progressBarFill {
  margin: 0px;
  width: 42%;
  height: 100%;
  background: #66FF6D;
}

.progress {
  padding: 0px;
  margin: 0px 1em;
  text-align: left;
  color: black;
}

.infoBar {
  background: #fff;
  float: left;
  margin:
}
